<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CatGame.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F10975CBB5570C8DA465518D3BCEDE1583F33EB5</string>
				<key>dateExpires</key>
				<string>9/20/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NCJC54GM5Z.com.mbulat.CatGameOne</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NCJC54GM5Z</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>NCJC54GM5Z.com.mbulat.CatGameOne</string>
				</array>
			</dict>
			<key>name</key>
			<string>CatGame.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>476ad699-fc3d-454b-821e-d96ec20c9526</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NCJC54GM5Z</string>
				<key>name</key>
				<string>Itransition Group Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
