<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
				<key>dateExpires</key>
				<string>9/4/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GBDeviceInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GCDWebServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MasAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SignalR_ObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF85C4F4A817E0E043653778A97827F8E566E084</string>
						<key>dateExpires</key>
						<string>9/4/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5YJ4J9W4H4.com.transas.FOS.NSE</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5YJ4J9W4H4</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.Transas.SharedValues</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NSE.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ade530f7-9593-4f42-a88d-186159151e1e</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.transas.FOS.NSE</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YJ4J9W4H4</string>
						<key>name</key>
						<string>Wartsila Voyage Sweden AB</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5YJ4J9W4H4.com.transas.FOS</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5YJ4J9W4H4</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.Transas.SharedValues</string>
				</array>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5YJ4J9W4H4.com.transas.FOS</string>
					<string>5YJ4J9W4H4.com.transas.SharedItems</string>
				</array>
			</dict>
			<key>name</key>
			<string>FOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8cffe889-4057-45ea-9c76-e00ab287d1eb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.transas.FOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5YJ4J9W4H4</string>
				<key>name</key>
				<string>Wartsila Voyage Sweden AB</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
